.App {
  text-align: center;
}

*{
  background-image: linear-gradient(to bottom, #2681bc, #ffc72c);
  background-attachment: fixed;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#BannerText {
line-height:50%
}

#BusImage {
  max-height:auto;
  max-width:20%;
  border-radius: 10%;
  }

#inboundBus, #outboundBus {
  border-radius: 10%;
  max-height:auto;
  max-width:70%;
  border-radius: 10%;
}

#BusMap {
  border-radius: 3%;
  max-height:auto;
  max-width:60%; 
}

@media screen and (max-width: 600px) {
  #BusMap {
    max-height:auto;
    max-width:80%; 
  }
}